body{
        background-color: antiquewhite;
}
h1{
        text-align: center;
        font-size: 45px;
        color: red;
}   
h3{
        color: rgb(68, 97, 131);
}
#container{
        display: flex;
        justify-content: space-around;
        font-size: 35px;
}
span{
        
        font-weight: 600;
        font-size: 50px;
}
button{
        display: flex;
        padding: 3px 10px;
        font-size: 20px;
        padding: 3px 15px;
        margin: 0px 20px;
        align-items: center;
        height: 30px;
        font-weight: 600;
        border-color: rgb(157, 182, 204);
        background-color: rgb(240, 209, 169);
        
}
.scoreDiv button:hover{
        background-color: rgba(54, 214, 15, 0.534); 
        color: rgb(22, 24, 24);   
}

.resetDiv{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 10px ;      
}
.btn{
        border-radius: 5px;
}
.resetDiv button:hover{
        color: aliceblue;
        background-color: rgb(253, 56, 7);
}
.scoreDiv{
        display: flex;
        height: 40px;
        align-items: center;
        padding: 5px;
        justify-content: space-between;
        border: 1px solid red;
}
.playerBlock{
        
}